* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;
}
body {
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 1.8rem 18%;
}

section:nth-child(odd) {
  background-color: #202020;
}
section:nth-child(even) {
  background-color: #2b2b2b;
}

.heading {
  color: white;
  font-size: 2rem;
  text-align: center;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background: #202020;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(17, 119, 255, 0.5);
}
html::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background: #0077ff;
}

/*?======================== Navbar start =========================*/
nav {
  background-color: #202020;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
}
a.logo {
  display: flex;
  text-decoration: none;
  margin-top: 5px;
}
nav .logo img {
  border-radius: 50%;
  box-shadow: 0px 0px 2px #444;
}
nav .logo h4 {
  color: white;
  padding-left: 10px;
  line-height: 41px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 25%;
  justify-content: space-between;
  line-height: 50px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.2s;
}
nav ul li a.active,
nav ul li a:hover {
  color: #0077ff;
  border-bottom: 0.2rem solid #0077ff;
  padding: 0.5rem 0;
}

.menu-toggle {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  width: 28px;
  height: 28px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: white;
  border-radius: 1px;
  transition: 0.5s;
}

/*? hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/*? responsive*/

@media screen and (max-width: 968px) {
  nav {
    bottom: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  ul li {
    width: 50%;
    text-align: center;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #202020;
    z-index: -999;
    transform: translateY(30%);
    opacity: 0;
    transition: transform 0.2s linear, opacity 0.3s linear;
    border-radius: 20px;
    box-shadow: 0 0 5px#202020;
  }

  .menu-toggle {
    display: flex;
    margin-top: 15px;
  }
  nav ul.slide {
    transform: translateY(-90%);
    opacity: 1;
  }
}
/*?======================== Navbar end =========================*/

/*?======================== Project start =========================*/
/* work section starts */
section.project {
  padding: 4.8rem 13% 2rem 13%;
  /* min-height: 70vh; */
}

.project .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: 2rem;
}
.project .box-container .box {
  flex: 1 1 17rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  /* width: 15rem; */
  height: 17rem;
}
.project .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 82%;
  left: 0;
  background: rgba(32, 32, 32, 0.9);
  display: flex;
  flex-direction: column;
}
.project .box-container .box .content .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding-left: 1rem;
  background: #2b2b2b;
}
.project .box-container .box .content .tag h3 {
  color: white;
  font-size: 1.2rem;
}
.project .box-container .box:hover .content {
  top: 25%;
}
.project .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project .desc p {
  text-transform: none;
  color: white;
  font-size: 1rem;
}
.project .desc .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.project .desc .btns .btn {
  line-height: 0;
  display: inline;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background: rgb(16, 16, 16);
  margin-right: 2rem;
}
.project .desc .btns .btn:hover {
  background: #0077ff;
}
.project div.back {
  display: flex;
  justify-content: center;
}

.project div.back .btn {
  padding: 15px;
  /* margin: auto; */
  border: 3px solid white;
  border-radius: 10px;
  color: white;
}
.project div.back .btn:hover {
  background-color: #0077ff;
  border: 3px solid #0077ff;
}
.project div.back .btn:hover i {
  transform: translateX(-5px);
}

.project div.back .btn i {
  margin-right: 5px;
}

@media screen and (max-width: 568px) {
  section.project {
    padding: 1.8rem 2% 6rem 2%;
  }
  .project .desc .btns .btn {
    padding: 1rem 1rem;
  }
}

/*?======================== Project end =========================*/

/*? scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 3rem;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  background: #0077ff;
  color: white;
  border-radius: 10px;
  transition: 1s linear;
  z-index: 1;
}
#scroll-top.active {
  top: calc(100% - 7rem);
}

@media (max-width: 568px) {
  #scroll-top {
    top: 140%;
  }
}
/*? scroll top ends */
