* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  transition: all 0.2s linear;
}
body {
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 1.8rem 18%;
}

section:nth-child(odd) {
  background-color: #202020;
}
section:nth-child(even) {
  background-color: #2b2b2b;
}

.heading {
  color: white;
  font-size: 2rem;
  text-align: center;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background: #2b2b2b;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: grey;
}

/*?======================== Navbar start =========================*/
nav {
  background-color: #202020;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
}
a.logo {
  display: flex;
  text-decoration: none;
  margin-top: 5px;
}
nav .logo img {
  border-radius: 50%;
  box-shadow: 0px 0px 2px #444;
}
nav .logo h4 {
  color: white;
  padding-left: 10px;
  line-height: 41px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 25%;
  justify-content: space-between;
  line-height: 50px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.2s;
}
nav ul li a.active,
nav ul li a:hover {
  color: #0077ff;
  border-bottom: 0.2rem solid #0077ff;
  padding: 0.5rem 0;
}

.menu-toggle {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  width: 28px;
  height: 28px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: white;
  border-radius: 1px;
  transition: 0.5s;
}

/*? hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/*? responsive*/

@media screen and (max-width: 968px) {
  nav {
    bottom: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  ul li {
    width: 50%;
    text-align: center;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #202020;
    z-index: -999;
    transform: translateY(30%);
    opacity: 0;
    transition: transform 0.2s linear, opacity 0.3s linear;
    border-radius: 20px;
    box-shadow: 0 0 5px#202020;
  }

  .menu-toggle {
    display: flex;
    margin-top: 15px;
  }
  nav ul.slide {
    transform: translateY(-90%);
    opacity: 1;
  }
}
/*?======================== Navbar end =========================*/

/*?======================== Home Start =========================*/
.home {
  padding: 5rem 16%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home div.foto {
  flex: 1 1 40rem;
  z-index: 1;
}
.home div.foto img {
  width: 35%;
  margin-left: 33rem;
  margin-top: 4rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.home div.foto img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home div.content {
  position: relative;
  width: 30%;
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home div.content h2 {
  position: absolute;
  color: white;
  font-weight: 800;
  font-size: 3rem;
  margin-top: -20rem;
}
.home div.content p {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  margin-top: -12rem;
}
.home div.content p span {
  color: #0077ff;
}
.home div.content a {
  font-weight: 600;
  position: absolute;
  margin-top: -8rem;
  position: absolute;
  line-height: 0;
  padding: 1.3rem 2.4rem;
  border-radius: 4em;
  transition: 0.5s;
  box-shadow: 0px 5px 18px rgba(32, 32, 32, 0.6);
}
.home div.content a span {
  font-size: 1rem;
}
.home div.content a.email {
  color: black;
  background: white;
}
.home div.content a.cv {
  color: #fff;
  background: #4e4e4e;
  margin-left: 9.5rem;
}
.home div.content a:hover {
  transform: scale(1.1);
  filter: brightness(80%);
}

/*? responsive*/

@media screen and (max-width: 968px) {
  .home div.foto img {
    width: 50%;
    margin-top: 2rem;
    margin-left: 20%;
    margin-bottom: -10rem;
  }
  .home div.content {
    margin-top: 30rem;
    margin-left: 30%;
  }
  .home div.content h2 {
    text-align: center;
    font-size: 2rem;
  }
  .home div.content p {
    margin-top: -15rem;
    margin-left: -2rem;
    font-size: 1rem;
  }
  .home div.content a {
    margin-left: -3rem;
    margin-top: -13rem;
    padding: 1rem;
  }
  .home div.content a.cv {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 568px) {
  .home {
    height: 10vh;
  }
  .home div.foto img {
    width: 80%;
    margin: 0rem 10% -10rem;
  }
  .home div.content {
    margin-left: 20%;
    margin-top: 30rem;
    margin-bottom: -10rem;
  }
  .home div.content h2 {
    font-size: 2rem;
  }
  .home div.content p {
    margin-top: -15rem;
    font-size: 0.9rem;
  }
  .home div.content a {
    margin-top: -13rem;
    padding: 1rem;
  }
  .home div.content a.cv {
    margin-left: 30%;
  }
}

/*?======================== Home end =========================*/

/*?======================== About start =========================*/
section.about {
  height: 140vh;
}
.about div.about-me {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem;
}
.about div.about-me div.foto {
  flex: 2 1 10rem;
  z-index: 1;
  text-align: center;
  padding: 30px;
}
.about div.about-me div.foto img {
  width: 100%;
  border-radius: 20px;
  margin-top: 0;
  filter: grayscale(100);
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.about div.about-me div.foto img:hover {
  filter: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.about div.about-me div.about-desc {
  flex: 1 1 20rem;
  z-index: 1;
  padding: 30px;
  margin-bottom: 40px;
}

.about div.about-me div.about-desc p {
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: none;
  text-align: justify;
  /* width: 60%; */
  /* right: 0; */
}
.about div.about-me div.about-desc a {
  color: black;
  background-color: white;
  font-weight: 600;
  position: absolute;
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.2rem 2.4rem;
  border-radius: 4em;
  transition: 0.5s;
  box-shadow: 0px 5px 18px rgba(43, 43, 43, 0.6);
}
.about div.about-me div.about-desc a:hover {
  transform: scale(1.1);
  filter: brightness(80%);
}

/*? responsive */
@media screen and (max-width: 968px) {
  .about div.about-me {
    display: inline-block;
    flex-wrap: wrap;
  }
  .about div.about-me .foto {
    width: 50%;
    margin: -25px auto;
  }
  section.about {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 568px) {
  .about div.about-me .foto {
    width: 100%;
    margin: -25px auto;
  }
}

/*? My Personal Journey */
section.about h4 {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 3px;
  margin: 20px 0;
}
div.journey-tab {
  display: flex;
  width: 15rem;
  height: 2rem;
  margin: auto;
  /* background-color: red; */
}
div.journey-tab button {
  background: none;
  border: none;
  color: white;
  transition: 0.2s;
  margin-right: 35px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 99;
}
div.journey-tab button.edu-btn {
  margin-left: 5px;
}
div.journey-tab button i {
  margin: 4px;
}
div.journey-tab button.active {
  color: #0077ff;
  border-bottom: 0.2rem solid #0077ff;
}

.timeline {
  width: 80%;
  height: 450px;
  padding: 50px 0;
  margin: 10px auto;
  position: relative;
  /* background-color: #0077ff; */
}
.hidden {
  opacity: 0;
}

.about .container {
  width: 60%;
  padding: 30px 0;
  position: absolute;
  left: 22%;
  top: 0;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  /* clear: both; */
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #0077ff;
  margin-top: 10px;
  z-index: 1;
}

.timeline-content {
  width: 100%;
  padding: 0 7px;
  color: #666;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.timeline-content span {
  font-size: 0.6rem;
  color: white;
}

.timeline-content p {
  font-size: 0.6rem;
  line-height: 1.5em;
  word-spacing: 1px;
  color: white;
}

@media screen and (max-width: 968px) {
  section.about {
    height: 160vh;
  }
  .timeline {
    width: 80%;
  }
}
@media screen and (max-width: 668px) {
  .container {
    left: 0%;
  }
  .container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

/*?======================== About end =========================*/

/*?======================== Skills start =========================*/
/*?======================== Skills end =========================*/

/*?======================== Project start =========================*/
/*?======================== Project end =========================*/

/*?======================== Footer start =========================*/
/*?======================== Footer end =========================*/
