* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;
}
body {
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 1.8rem 18%;
}

section:nth-child(odd) {
  background-color: #202020;
}
section:nth-child(even) {
  background-color: #2b2b2b;
}

.heading {
  color: white;
  font-size: 2rem;
  text-align: center;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background: #2b2b2b;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: grey;
}

/*?======================== Navbar start =========================*/
nav {
  background-color: #202020;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
}
a.logo {
  display: flex;
  text-decoration: none;
  margin-top: 5px;
}
nav .logo img {
  border-radius: 50%;
  box-shadow: 0px 0px 2px #444;
}
nav .logo h4 {
  color: white;
  padding-left: 10px;
  line-height: 41px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 25%;
  justify-content: space-between;
  line-height: 50px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.2s;
}
nav ul li a.active,
nav ul li a:hover {
  color: #0077ff;
  border-bottom: 0.2rem solid #0077ff;
  padding: 0.5rem 0;
}

.menu-toggle {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  width: 28px;
  height: 28px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: white;
  border-radius: 1px;
  transition: 0.5s;
}

/*? hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/*? responsive*/

@media screen and (max-width: 968px) {
  nav {
    bottom: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  ul li {
    width: 50%;
    text-align: center;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #202020;
    z-index: -999;
    transform: translateY(30%);
    opacity: 0;
    transition: transform 0.2s linear, opacity 0.3s linear;
    border-radius: 20px;
    box-shadow: 0 0 5px#202020;
  }

  .menu-toggle {
    display: flex;
    margin-top: 15px;
  }
  nav ul.slide {
    transform: translateY(-90%);
    opacity: 1;
  }
}
/*?======================== Navbar end =========================*/

/*?======================== Home Start =========================*/
.home {
  padding: 5rem 16%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home div.foto {
  flex: 1 1 40rem;
  z-index: 1;
}
.home div.foto img {
  width: 35%;
  margin-left: 33rem;
  margin-top: 4rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.home div.foto img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home div.content {
  position: relative;
  width: 30%;
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home div.content h2 {
  position: absolute;
  color: white;
  font-weight: 800;
  font-size: 3rem;
  margin-top: -20rem;
}
.home div.content p {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  margin-top: -12rem;
}
.home div.content p span {
  color: #0077ff;
}
.home div.content a {
  font-weight: 600;
  position: absolute;
  margin-top: -8rem;
  position: absolute;
  line-height: 0;
  padding: 1.3rem 2.4rem;
  border-radius: 4em;
  transition: transform 0.3s, background 0.3s, color 0s;
  box-shadow: 0px 5px 18px rgba(32, 32, 32, 0.6);
}
.home div.content a span {
  font-size: 1rem;
}
.home div.content a.email {
  color: black;
  background: white;
}
.home div.content a.cv {
  color: #fff;
  background: #4e4e4e;
  margin-left: 9.5rem;
}
.home div.content a:hover {
  transform: scale(1.1);
  color: white;
  background: #0077ff;
}

/*? responsive*/

@media screen and (max-width: 968px) {
  .home div.foto img {
    width: 50%;
    margin-top: 2rem;
    margin-left: 20%;
    margin-bottom: -10rem;
  }
  .home div.content {
    margin-top: 30rem;
    margin-left: 30%;
  }
  .home div.content h2 {
    text-align: center;
    font-size: 2rem;
  }
  .home div.content p {
    margin-top: -15rem;
    margin-left: -2rem;
    font-size: 1rem;
  }
  .home div.content a {
    margin-left: -3rem;
    margin-top: -13rem;
    padding: 1rem;
  }
  .home div.content a.cv {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 568px) {
  .home {
    height: 10vh;
  }
  .home div.foto img {
    width: 80%;
    margin: 0rem 10% -10rem;
  }
  .home div.content {
    margin-left: 20%;
    margin-top: 30rem;
    margin-bottom: -10rem;
  }
  .home div.content h2 {
    font-size: 2rem;
  }
  .home div.content p {
    margin-top: -15rem;
    font-size: 0.9rem;
  }
  .home div.content a {
    margin-top: -13rem;
    padding: 1rem;
  }
  .home div.content a.cv {
    margin-left: 30%;
  }
}

/*?======================== Home end =========================*/

/*?======================== About start =========================*/
section.about {
  height: auto;
}
.about div.about-me {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem;
}
.about div.about-me div.foto {
  flex: 2 1 10rem;
  z-index: 1;
  text-align: center;
  padding: 30px;
}
.about div.about-me div.foto img {
  width: 100%;
  border-radius: 20px;
  margin-top: 0;
  filter: grayscale(100);
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.about div.about-me div.foto img:hover {
  filter: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.about div.about-me div.about-desc {
  flex: 1 1 20rem;
  z-index: 1;
  padding: 30px;
  margin-bottom: 40px;
}

.about div.about-me div.about-desc p {
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: none;
  text-align: justify;
  /* width: 60%; */
  /* right: 0; */
}
.about div.about-me div.about-desc a {
  color: black;
  background-color: white;
  font-weight: 600;
  position: absolute;
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.2rem 2.4rem;
  border-radius: 4em;
  transition: transform 0.3s, background 0.3s, color 0s;
  box-shadow: 0px 5px 18px rgba(43, 43, 43, 0.6);
}
.about div.about-me div.about-desc a:hover {
  color: white;
  transform: scale(1.1);
  background: #0077ff;
}

/*? responsive */
@media screen and (max-width: 968px) {
  .about div.about-me {
    display: inline-block;
    flex-wrap: wrap;
  }
  .about div.about-me .foto {
    width: 50%;
    margin: -25px auto;
  }
  section.about {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 568px) {
  .about div.about-me .foto {
    width: 100%;
    margin: -25px auto;
  }
}

/*? My Personal Journey */
section.about h4 {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 3px;
  margin: 20px 0;
}
div.journey-tab {
  display: flex;
  width: 15rem;
  height: 2rem;
  margin: auto;
  /* background-color: red; */
}
div.journey-tab button {
  background: none;
  border: none;
  color: white;
  transition: 0.2s;
  margin-right: 35px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 99;
}
div.journey-tab button.edu-btn {
  margin-left: 5px;
}
div.journey-tab button i {
  margin: 4px;
}
div.journey-tab button.active {
  color: #0077ff;
  border-bottom: 0.2rem solid #0077ff;
}

.timeline {
  width: 80%;
  height: 450px;
  padding: 50px 0;
  margin: 10px auto;
  position: relative;
  /* background-color: #0077ff; */
}
.hidden {
  opacity: 0;
}

.about .container {
  width: 60%;
  padding: 30px 0;
  position: absolute;
  left: 22%;
  top: 0;
}

.about .container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  /* clear: both; */
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #0077ff;
  margin-top: 10px;
  z-index: 1;
}

.timeline-content {
  width: 100%;
  padding: 0 7px;
  color: #666;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.timeline-content span {
  font-size: 0.6rem;
  color: white;
}

.timeline-content p {
  font-size: 0.6rem;
  line-height: 1.5em;
  word-spacing: 1px;
  color: white;
}

@media screen and (max-width: 968px) {
  section.about {
    min-height: 160vh;
  }
  .timeline {
    width: 80%;
  }
}
@media screen and (max-width: 668px) {
  .about .container {
    left: 0%;
  }
  .about .container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

/*?======================== About end =========================*/

/*?======================== Skills start =========================*/
section.skills {
  min-height: 80vh;
  padding: 1.8rem 10%;
}

.skills .container {
  /* background: rgba(0, 0, 22, 0.4); */
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  margin: auto;
  /* margin-top: 2rem; */
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;
}
.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  background: rgba(32, 32, 32, 1);
  filter: grayscale(100);
  transition: 0.2s;
}
.skills .container .bar:hover {
  filter: none;
  box-shadow: 0px 0px 7px #0077ff;
  background-color: rgba(0, 0, 0, 0.5);
}
.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  margin-top: 1rem;
}
.skills .container .bar .info img {
  width: 70px;
  height: 70px;
}
.skills .container .bar .info span {
  font-size: 1rem;
  font-weight: 500;
  /* margin-left: 0.5rem; */
}
/* skills media queries starts*/
@media screen and (max-width: 968px) {
  .skills .container .row {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 568px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}

/*?======================== Skills end =========================*/

/*?======================== Project start =========================*/
/* work section starts */
section.project {
  padding: 1.8rem 13%;
  min-height: 70vh;
}

.project .heading span {
  color: rgb(255, 230, 0);
}
.project .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem;
}
.project .box-container .box {
  flex: 1 1 17rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  /* width: 15rem; */
  height: 17rem;
}
.project .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 82%;
  left: 0;
  background: rgba(32, 32, 32, 0.9);
  display: flex;
  flex-direction: column;
}
.project .box-container .box .content .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding-left: 1rem;
  background: #2b2b2b;
}
.project .box-container .box .content .tag h3 {
  color: white;
  font-size: 1.2rem;
}
.project .box-container .box:hover .content {
  top: 25%;
}
.project .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project .desc p {
  text-transform: none;
  color: white;
  font-size: 1rem;
}
.project .desc .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.project .desc .btns .btn {
  line-height: 0;
  display: inline;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background: rgb(16, 16, 16);
  margin-right: 2rem;
}
.project .desc .btns .btn:hover {
  background: #0077ff;
}
.project .viewall {
  background-color: #4e4e4e;
  display: flex;
  height: 5rem;
  justify-content: space-evenly;
  border-radius: 0.5rem;
}
.project .viewall h2 {
  text-transform: none;
  color: white;
  line-height: 5rem;
}
.project .viewall div {
  margin-top: 2rem;
}
.project .viewall .btn {
  height: 3rem;
  margin-left: 1rem;
  position: relative;
  padding: 1rem 1rem;
  border-radius: 0.5em;
  transition: background 0.3s, color 0s;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: #2b2b2b;
}
.project .viewall .btn.email {
  background-color: white;
  color: black;
}
.project .viewall .btn.email i {
  transition: transform 0.3s, color 0s;
}

.project .viewall .btn.email:hover i {
  transform: translateX(-5px);
}
.project .viewall .btn span {
  font-weight: 600;
  font-size: 1rem;
}
.project .viewall .btn i {
  margin: 0 0.3rem;
  font-size: 1rem;
  /* transition: 0.3s; */
}
.project .viewall .btn:hover {
  background: #0077ff;
  color: white;
}
.project .viewall .btn:hover i {
  transform: translateX(5px);
}
@media screen and (max-width: 968px) {
  .project .viewall {
    position: relative;
    display: block;
    min-height: 150px;
  }
  .project .viewall h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .project .viewall .btn.more {
    position: absolute;
    left: 0rem;
    margin-left: 15%;
    bottom: 1.5rem;
  }
  .project .viewall .btn.email {
    position: absolute;
    right: 0rem;
    margin-right: 15%;
    bottom: 1.5rem;
  }
}
@media screen and (max-width: 568px) {
  section.project {
    padding: 1.8rem 2%;
  }
  .project .desc .btns .btn {
    padding: 1rem 1rem;
  }
  .project .viewall .btn.more {
    position: absolute;
    left: 0rem;
    margin-left: 5%;
    bottom: 1.5rem;
  }
  .project .viewall .btn.email {
    position: absolute;
    right: 0rem;
    margin-right: 5%;
    bottom: 1.5rem;
  }
}

/*?======================== Project end =========================*/

/*?======================== Footer start =========================*/
section.footer {
  min-height: auto;
  padding: 0rem 16%;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 10rem;
  margin: 2rem;
}
.footer .box-container .box.right {
  position: relative;
  left: 9rem;
}
.footer .box-container .box h3 {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #0077ff;
}
.footer .box-container .box a {
  font-size: 0.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #0077ff;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 0;
}
.footer .box-container .box .share a {
  height: 2.2rem;
  width: 2.2rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #0077ff;
}
.footer .credit {
  padding: 1rem 0 1rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit i {
  font-size: 0.9rem;
}
.footer .credit a {
  color: #0077ff;
}
.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 968px) {
  section.footer {
    min-height: 72vh;
  }
  .footer .box-container .box.right {
    left: 0;
  }
}
@media (max-width: 568px) {
  section.footer {
    padding: 1.8rem 0%;
    min-height: 72vh;
  }
  .footer .box-container .box h3 {
    margin-left: 10px;
  }
  .footer .box-container .box {
    margin: 1rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
}
/*?======================== Footer end =========================*/
